
@external gwt-CheckBox;

.panelContainer {
   width: 570px;
   height: 500px;
}

.panelContainerNoChooser {
   width: 448px;
   height: 500px;
}

.sshKeyWidget {
   margin-top: 20px;
}

.usingVcsHelp {
   margin-top: 30px;
}

.newSection {
   margin-top: 25px;
}

.alwaysCompletePanel {
   margin-bottom: 11px;
}

.paneLayoutTable {
   margin-left: 0;
   margin-right: 0;
   height: 160px;
   width: 400px;
   padding: 0 0 0 0;
}

.paneLayoutTable td.paneLayoutTable {
   background-color: white;
   vertical-align: top;
   padding: 0;
   border: none;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}

.column {
   background-color: white;
   padding: 0 0 0 0;
   vertical-align: top;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   border: 1px solid #1e77bc;
   overflow: hidden;
}

.column .closeButton {
   top: 2px;
   position: absolute;
   right: 0;
}

.column .label {
   margin-top: 170px;
   overflow: hidden;
}

.paneLayoutTable .gwt-CheckBox {
   display: block;
   margin: 0 0 0 2px;
   max-height: 18px;
   font-size: 11px;
}

.paneLayoutTable select {
   width: 250px;
   margin-bottom: 5px;
}

.themeChooser select {
   width: 148px;
   overflow-x: hidden;
   overflow-y: scroll;
}

.themeInfobar {
   border: solid 1px #ccc;
   border-bottom: none;
   display: none;
}

.themeInfobarShowing {
   display: block;
}
